---
import type { Person } from '@/utilities/people'
import FormattedDate from '@/components/FormattedDate.astro'
import { people, getPersonPath } from '@/utilities/people'
interface Props {
	authorFullName: string,
	pubDate: Date,
	updatedDate: Date
}
const { authorFullName  = '', pubDate, updatedDate } = Astro.props
let person: Person | undefined = people.find(person => person.fullName === authorFullName)
const hasAuthorLink: boolean = person !== undefined
---
<p>
	{authorFullName &&
		<>
			{hasAuthorLink && person && <span><a href={getPersonPath(Astro.currentLocale, person.id)}>{person.fullName}</a></span>}
			{!hasAuthorLink && <span>{authorFullName}</span>}
			<span>, </span>
		</>
	}
	<FormattedDate date={pubDate} />
		{updatedDate && (
				<span >
					Last updated on <FormattedDate date={updatedDate} />
				</span>
			)
		}
</p>